#
# Copyright (c) 2017, 2020 ADLINK Technology Inc.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ADLINK zenoh team, <zenoh@adlink-labs.tech>
#
[package]
name = "zenoh-ext"
version = "0.5.0-dev"
repository = "https://github.com/eclipse-zenoh/zenoh"
homepage = "http://zenoh.io"
authors = ["kydos <angelo@icorsaro.net>",
           "Julien Enoch <julien@enoch.fr>"]
edition = "2018"
license = " EPL-2.0 OR Apache-2.0"
categories = ["network-programming"]
description = "Zenoh: extensions to the client API."

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
zenoh = { path = "../zenoh" }
zenoh-util = { path = "../zenoh-util" }
async-std = { version = "=1.9.0", default-features = false, features = ["attributes", "unstable"] }
futures = "0.3.12"
futures-lite = "1.11.3"
log = "0.4"
flume = "0.10.7"
serde = "1.0.126"
env_logger = "0.8.4"
bincode = "1.3.3"

[dev-dependencies]
clap = "2.33"
env_logger = "0.8.2"


[[example]]
name = "z_query_sub"
path = "examples/z_query_sub.rs"

[[example]]
name = "z_pub_cache"
path = "examples/z_pub_cache.rs"

[[example]]
name = "z_member"
path = "examples/z_member.rs"

[[example]]
name = "z_view_size"
path = "examples/z_view_size.rs"
