#
# Copyright (c) 2022 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[package]
rust-version = "1.62.1"
name = "zenoh-ext"
version = "0.6.0-beta.1"
repository = "https://github.com/eclipse-zenoh/zenoh"
homepage = "http://zenoh.io"
authors = ["kydos <angelo@icorsaro.net>", "Julien Enoch <julien@enoch.fr>"]
edition = "2018"
license = " EPL-2.0 OR Apache-2.0"
categories = ["network-programming"]
description = "Zenoh: extensions to the client API."

[badges]
maintenance = { status = "actively-developed" }

[features]
unstable = []
default = []

[dependencies]
async-std = { version = "=1.12.0", default-features = false, features = [
    "attributes",
    "unstable",
] }
async-trait = "0.1.57"
bincode = "1.3.3"
env_logger = "0.9.1"
flume = "0.10.14"
futures = "0.3.24"
log = "0.4.17"
serde = "1.0.145"
zenoh = { version = "0.6.0-beta.1", path = "../zenoh", default-features = false, features = ["unstable"] }
zenoh-collections = { version = "0.6.0-beta.1", path = "../commons/zenoh-collections/" }
zenoh-core = { version = "0.6.0-beta.1", path = "../commons/zenoh-core/" }
zenoh-protocol = { version = "0.6.0-beta.1", path = "../commons/zenoh-protocol" }
zenoh-sync = { version = "0.6.0-beta.1", path = "../commons/zenoh-sync" }
zenoh-util = { version = "0.6.0-beta.1", path = "../commons/zenoh-util" }

[dev-dependencies]
clap = "3.2.22"
env_logger = "0.9.1"

[[example]]
name = "z_query_sub"
path = "examples/z_query_sub.rs"

[[example]]
name = "z_pub_cache"
path = "examples/z_pub_cache.rs"

[[example]]
name = "z_member"
path = "examples/z_member.rs"

[[example]]
name = "z_view_size"
path = "examples/z_view_size.rs"

[[example]]
name = "z_rel_sub"
path = "examples/z_rel_sub.rs"

[[example]]
name = "z_rel_pub"
path = "examples/z_rel_pub.rs"

[[example]]
name = "z_rel_cache"
path = "examples/z_rel_cache.rs"
