[Unit]
Description = Eclipse Zenoh Router
Documentation=https://zenoh.io/docs/getting-started/key-concepts/
After=network-online.target
Wants=network-online.target


[Service]
Type=simple
Environment="RUST_LOG=info" "ZENOH_HOME=/var/zenohd"
ExecStart = /usr/bin/zenohd -c /etc/zenohd/zenohd.json5
KillMode=mixed
KillSignal=SIGINT
RestartKillSignal=SIGINT
Restart=on-failure
PermissionsStartOnly=true
User=zenohd
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zenohd
[Install]
WantedBy=multi-user.target