[package]
name = "zenoh-runtime"
rust-version = "1.70.0"
version = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
categories = { workspace = true }
description = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
tracing-instrument = []

[dependencies]
tracing = { workspace = true }
ron = { workspace = true }
serde = { workspace = true }
lazy_static = { workspace = true }
tokio = { workspace = true, features = [
    "fs",
    "io-util",
    "macros",
    "net",
    "rt-multi-thread",
    "sync",
    "time",
] }
zenoh-result = { workspace = true, features = ["std"] }
zenoh-macros = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["ron"]
