#
# Copyright (c) 2022 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[workspace]

members = [
  "commons/zenoh-config",
  "commons/zenoh-buffers",
  "commons/zenoh-protocol-core",
  "commons/zenoh-protocol",
  "commons/zenoh-cfg-properties",
  "commons/zenoh-collections",
  "commons/zenoh-core",
  "commons/zenoh-crypto",
  "commons/zenoh-sync",
  "commons/zenoh-util",
  "commons/zenoh-macros",
  "commons/zenoh-async-rt",
  "io/zenoh-link-commons",
  "io/zenoh-links/zenoh-link-udp/",
  "io/zenoh-links/zenoh-link-tcp/",
  "io/zenoh-links/zenoh-link-tls/",
  "io/zenoh-links/zenoh-link-quic/",
  "io/zenoh-links/zenoh-link-unixsock_stream/",
  "io/zenoh-links/zenoh-link-ws/",
  "io/zenoh-link",
  "io/zenoh-transport",
  "zenoh",
  "zenoh-ext",
  "zenohd",
  "examples",
  "plugins/zenoh-plugin-trait",
  "plugins/example-plugin",
  "plugins/zenoh-plugin-rest",
  "plugins/zenoh-plugin-storage-manager",
  "plugins/zenoh-backend-traits",
]

[profile.dev]
debug = true
opt-level = 0

[profile.fast]
inherits = "release"
opt-level=3
debug=true
debug-assertions = true
overflow-checks = true
lto=false

[profile.release]
debug = false     # If you want debug symbol in release mode, set the env variable: RUSTFLAGS=-g
lto = "fat"
codegen-units = 1
opt-level = 3
panic = "abort"
