#
# Copyright (c) 2017, 2020 ADLINK Technology Inc.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ADLINK zenoh team, <zenoh@adlink-labs.tech>
#
[workspace]

members = [
  "zenoh",
  "zenoh-util",
  "plugins/example-plugin",
  "plugins/zenoh-plugin-rest",
  "plugins/zenoh-plugin-storages",
  "backends/traits",
]

[profile.dev]
debug=true
opt-level = 1


[profile.release]
debug=true
lto="fat"
codegen-units=1
opt-level=3
panic="abort"
