# NOTE: Before allowing a new license, make sure it is approved by the Eclipse Foundation.
# A list of approved third party licenses is available at: https://www.eclipse.org/legal/licenses.php.
[licenses]
allow = [
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "BSL-1.0",
  "CC0-1.0",
  "EPL-2.0",
  "ISC",
  "MIT",
  "MPL-2.0",
  "OpenSSL",
  "Unicode-3.0",
  "Unicode-DFS-2016",
  "Zlib",
  # the webpki-roots is under under CDLA-PERMISSIVE-2.0 since version 0.26.9
  # which is not in the list at https://www.eclipse.org/legal/licenses/
  # But it's transitive dependency which can't be avoided, so at least temporarily allowing it
  "CDLA-Permissive-2.0",
]

# This was copied from https://github.com/EmbarkStudios/cargo-deny/blob/main/deny.toml#L64
[[licenses.clarify]]
crate = "ring"
expression = "ISC AND MIT AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
[licenses.private]
ignore = true
