#
# Copyright (c) 2023 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[package]
authors = { workspace = true }
categories = { workspace = true }
description = "Internal crate for zenoh."
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "zenoh-link-commons"
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
compression = []
quic = [
  "dep:base64",
  "dep:quinn",
  "dep:rustls-pemfile",
  "dep:rustls-pki-types",
  "dep:secrecy",
  "dep:webpki-roots",
  "dep:x509-parser",
  "dep:zenoh-config",
  "tls",
]
tls = ["dep:rustls", "dep:rustls-webpki"]

[dependencies]
async-trait = { workspace = true }
base64 = { workspace = true, optional = true }
flume = { workspace = true }
futures = { workspace = true }
quinn = { workspace = true, optional = true }
rustls = { workspace = true, optional = true }
rustls-pemfile = { workspace = true, optional = true }
rustls-pki-types = { workspace = true, optional = true }
rustls-webpki = { workspace = true, optional = true }
secrecy = { workspace = true, optional = true }
serde = { workspace = true, features = ["default"] }
socket2 = { workspace = true }
time = { workspace = true }
tokio = { workspace = true, features = [
  "fs",
  "io-util",
  "net",
  "sync",
  "time",
] }
tokio-util = { workspace = true, features = ["rt"] }
tracing = { workspace = true }
webpki-roots = { workspace = true, optional = true }
x509-parser = { workspace = true, optional = true }
zenoh-buffers = { workspace = true }
zenoh-codec = { workspace = true }
zenoh-config = { workspace = true, optional = true }
zenoh-core = { workspace = true }
zenoh-protocol = { workspace = true }
zenoh-result = { workspace = true }
zenoh-runtime = { workspace = true }
zenoh-util = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rustls-webpki"]
