[Unit]
Description = Eclipse Zenoh Router
Documentation=https://zenoh.io/docs/getting-started/key-concepts/
After=network-online.target
Wants=network-online.target


[Service]
Type=simple
Environment=RUST_LOG=info
ExecStart = /usr/bin/zenohd
KillMode=mixed
KillSignal=SIGINT
RestartKillSignal=SIGINT
Restart=on-failure
PermissionsStartOnly=true
User=zenoh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zenoh
[Install]
WantedBy=multi-user.target