# By default, retry a few times until pass the test within the specified timeout
[profile.default]
retries = 1
slow-timeout = { period = "60s", terminate-after = 2 }

# Run the following tests exclusively with longer timeout
[[profile.default.overrides]]
filter = """
test(=zenoh_session_unicast) |
test(=zenoh_session_multicast) |
test(=transport_tcp_intermittent) |
test(=transport_tcp_intermittent_for_lowlatency_transport) |
test(=three_node_combination) |
test(=downsampling_by_keyexpr)
"""
threads-required = 'num-cpus'
slow-timeout = { period = "60s", terminate-after = 6 }
