#
# Copyright (c) 2023 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[package]
rust-version = { workspace = true }
name = "zenoh-link"
version = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
categories = { workspace = true }
description = "Internal crate for zenoh."
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
transport_quic = ["zenoh-link-quic"]
transport_tcp = ["zenoh-link-tcp"]
transport_tls = ["zenoh-link-tls"]
transport_udp = ["zenoh-link-udp"]
transport_unixsock-stream = ["zenoh-link-unixsock_stream"]
transport_ws = ["zenoh-link-ws"]
transport_serial = ["zenoh-link-serial"]

[dependencies]
async-std = { workspace = true }
async-trait = { workspace = true }
rcgen = { workspace = true, optional = true }
zenoh-cfg-properties = { workspace = true }
zenoh-config = { workspace = true }
zenoh-link-commons = { workspace = true }
zenoh-link-quic = { workspace = true, optional = true }
zenoh-link-serial = { workspace = true, optional = true }
zenoh-link-tcp = { workspace = true, optional = true }
zenoh-link-tls = { workspace = true, optional = true }
zenoh-link-udp = { workspace = true, optional = true }
zenoh-link-unixsock_stream = { workspace = true, optional = true }
zenoh-link-ws = { workspace = true, optional = true }
zenoh-protocol = { workspace = true }
zenoh-result = { workspace = true }
