#
# Copyright (c) 2022 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[package]
rust-version.workspace = true
name = "zenoh-link"
version.workspace = true
repository.workspace = true
homepage.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
categories.workspace = true
description = "Internal crate for zenoh."
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
transport_quic = ["zenoh-link-quic"]
transport_tcp = ["zenoh-link-tcp"]
transport_tls = ["zenoh-link-tls"]
transport_udp = ["zenoh-link-udp"]
transport_unixsock-stream = ["zenoh-link-unixsock_stream"]
transport_ws = ["zenoh-link-ws"]
transport_serial = ["zenoh-link-serial"]

[dependencies]
async-std = { workspace = true, default-features = false }
async-trait.workspace = true
rcgen = { workspace = true, optional = true }
zenoh-cfg-properties = { version = "0.7.0-rc", path = "../../commons/zenoh-cfg-properties/" }
zenoh-config = { version = "0.7.0-rc", path = "../../commons/zenoh-config/" }
zenoh-core = { version = "0.7.0-rc", path = "../../commons/zenoh-core/" }
zenoh-link-commons = { version = "0.7.0-rc", path = "../zenoh-link-commons/" }
zenoh-link-quic = { version = "0.7.0-rc", path = "../zenoh-links/zenoh-link-quic/", optional = true }
zenoh-link-serial = { version = "0.7.0-rc", path = "../zenoh-links/zenoh-link-serial/", optional = true }
zenoh-link-tcp = { version = "0.7.0-rc", path = "../zenoh-links/zenoh-link-tcp/", optional = true }
zenoh-link-tls = { version = "0.7.0-rc", path = "../zenoh-links/zenoh-link-tls/", optional = true }
zenoh-link-udp = { version = "0.7.0-rc", path = "../zenoh-links/zenoh-link-udp/", optional = true }
zenoh-link-unixsock_stream = { version = "0.7.0-rc", path = "../zenoh-links/zenoh-link-unixsock_stream/", optional = true }
zenoh-link-ws = { version = "0.7.0-rc", path = "../zenoh-links/zenoh-link-ws/", optional = true }
zenoh-protocol = { version = "0.7.0-rc", path = "../../commons/zenoh-protocol/" }
