#
# Copyright (c) 2023 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[package]
rust-version = { workspace = true }
name = "zenoh-ext-examples"
version = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
authors = ["kydos <angelo@icorsaro.net>", "Julien Enoch <julien@enoch.fr>"]
edition = { workspace = true }
license = { workspace = true }
categories = { workspace = true }
description = "Internal crate for zenoh"
publish = false

[badges]
maintenance = { status = "actively-developed" }

[features]
unstable = []
default = []

[dependencies]
tokio = { workspace = true, features = ["rt", "sync", "time", "macros", "io-std"] }
futures = { workspace = true }
zenoh = { workspace = true, features = ["unstable", "internal_config"], default-features = false }
clap = { workspace = true, features = ["derive"] }
zenoh-ext = { workspace = true, features = ["unstable"] }
zenoh-examples = { workspace = true }

[dev-dependencies]
zenoh-config = { workspace = true }

[[example]]
name = "z_advanced_pub"
path = "examples/z_advanced_pub.rs"

[[example]]
name = "z_advanced_sub"
path = "examples/z_advanced_sub.rs"

[[example]]
name = "z_member"
path = "examples/z_member.rs"

[[example]]
name = "z_view_size"
path = "examples/z_view_size.rs"

[package.metadata.docs.rs]
features = ["unstable"]
