#
# Copyright (c) 2023 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[package]
rust-version = { workspace = true }
name = "zenoh-transport"
version = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
categories = { workspace = true }
description = "Internal crate for zenoh."
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
shared-memory = [
    "zenoh-protocol/shared-memory",
    "zenoh-shm",
    "zenoh-codec/shared-memory",
    "zenoh-buffers/shared-memory",
]
auth_pubkey = ["transport_auth", "rsa"]
auth_usrpwd = ["transport_auth"]
transport_auth = []
transport_multilink = ["auth_pubkey"]
transport_quic = ["zenoh-link/transport_quic"]
transport_tcp = ["zenoh-link/transport_tcp", "zenoh-config/transport_tcp"]
transport_tls = ["zenoh-link/transport_tls"]
transport_udp = ["zenoh-link/transport_udp"]
transport_unixsock-stream = ["zenoh-link/transport_unixsock-stream"]
transport_ws = ["zenoh-link/transport_ws"]
transport_serial = ["zenoh-link/transport_serial"]
transport_compression = []
transport_unixpipe = ["zenoh-link/transport_unixpipe"]
transport_vsock = ["zenoh-link/transport_vsock"]
stats = ["zenoh-protocol/stats"]
test = []
unstable = []
default = ["test", "transport_multilink"]

[dependencies]
async-trait = { workspace = true }
tokio = { workspace = true, features = [
    "sync",
    "fs",
    "time",
    "macros",
    "rt-multi-thread",
    "io-util",
    "net",
] }
lazy_static = { workspace = true }
tokio-util = { workspace = true, features = ["rt"] }
flume = { workspace = true }
futures = { workspace = true }
tracing = { workspace = true }
lz4_flex = { workspace = true }
paste = { workspace = true }
rand = { workspace = true, features = ["default"] }
ringbuffer-spsc = { workspace = true }
rsa = { workspace = true, optional = true }
sha3 = { workspace = true }
serde = { workspace = true, features = ["default"] }
zenoh-buffers = { workspace = true }
zenoh-codec = { workspace = true }
zenoh-config = { workspace = true }
zenoh-core = { workspace = true }
zenoh-crypto = { workspace = true }
zenoh-link = { workspace = true }
zenoh-protocol = { workspace = true }
zenoh-result = { workspace = true }
zenoh-shm = { workspace = true, optional = true }
zenoh-sync = { workspace = true }
zenoh-util = { workspace = true }
zenoh-runtime = { workspace = true }
zenoh-task = { workspace = true }



[dev-dependencies]
zenoh-util = { workspace = true }
zenoh-protocol = { workspace = true, features = ["test"] }
zenoh-link-commons = { workspace = true }
