name: Check deps for Eclipse IPDDP compliance

on:
  push:
    branches:
      - main
    paths: [Cargo.toml, Cargo.lock]

jobs:
  generate-deps:
    name: Generate ClearyDefined list of dependencies ids.
    uses: ZettaScaleLabs/ci/.github/workflows/generate-deps.yml@add-eclipse-ipddp-workflow
    with: 
      repo: ${{ github.repository }}

  check-ipddp-compliance:
    name: Check Eclipse IPDDP compliance
    needs: generate-deps
    uses: ZettaScaleLabs/ci/.github/workflows/eclipse-ipddp.yml@add-eclipse-ipddp-workflow
    with:
      dependencies: ${{ needs.generate-deps.outputs.dependencies }}