name: Check deps for Eclipse IPDDP compliance

on:
  push:
    branches:
      - main
    paths: [Cargo.toml, Cargo.lock]

jobs:
  check-ipddp-compliance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Generate dependencies.txt and check compliance
        id: generate-deps
        run: |
          cargo tree -e normal --prefix none --no-dedupe | sort -u | grep -v '^[[:space:]]*$' | grep -v zenoh | sed -E 's|([^ ]+) v([^ ]+).*|crate/cratesio/-/\1/\2|' > dependencies.txt
          echo "dependencies=$(cat dependencies.txt)" >> $GITHUB_OUTPUT

      - name: Run Eclipse IPDDP License Tool
        uses: eclipse-zenoh/ci/.github/workflows/eclipse-ipddp.yml@main
        with:
          dependencies: ${{ steps.generate-deps.outputs.dependencies }}