#
# Copyright (c) 2023 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
name: Release

on:
  schedule:
    - cron: "0 0 * * 1-5"
  workflow_dispatch:
    inputs:
      live-run:
        type: boolean
        description: If false (or undefined) the workflow runs in dry-run mode (i.e. with no side-effects)
        required: false
      version:
        type: string
        description: Release number. If undefined, the workflow auto-generates a version using git-describe
        required: false

jobs:
  tag:
    name: Bump and tag crates
    uses: eclipse-zenoh/ci/.github/workflows/tag-crates.yml@main
    with:
      repo: ${{ github.repository }}
      live-run: ${{ inputs.live-run }}
      version: ${{ inputs.version }}
      inter-deps-pattern: zenoh.*
    secrets: inherit

  build-debian:
    name: Build Debian packages
    needs: tag
    uses: eclipse-zenoh/ci/.github/workflows/build-crates-debian.yml@main
    with:
      repo: ${{ github.repository }}
      version: ${{ needs.tag.outputs.version }}
      branch: ${{ needs.tag.outputs.branch }}
    secrets: inherit

  build-standalone:
    name: Build executables and libraries
    needs: tag
    uses: eclipse-zenoh/ci/.github/workflows/build-crates-standalone.yml@main
    with:
      repo: ${{ github.repository }}
      version: ${{ needs.tag.outputs.version }}
      branch: ${{ needs.tag.outputs.branch }}
      exclude-builds: '[{ build: { target: "x86_64-pc-windows-gnu", os: "windows-2019" } }]'
      artifact-patterns: |
        ^zenohd(\.exe)?$
        ^libzenoh_plugin_(rest|storage_manager)\.(dylib|so)$
        ^zenoh_plugin_(rest|storage_manager)\.dll$
    secrets: inherit

  cargo:
    name: Publish Cargo crates
    needs: tag
    uses: eclipse-zenoh/ci/.github/workflows/release-crates-cargo.yml@main
    with:
      repos: ${{ github.repository }}
      live-run: ${{ inputs.live-run }}
      branch: ${{ needs.tag.outputs.branch }}
      inter-deps-pattern: zenoh.*
    secrets: inherit

  debian:
    name: Publish Debian packages
    needs: [tag, build-debian]
    uses: eclipse-zenoh/ci/.github/workflows/release-crates-debian.yml@main
    with:
      no-build: true
      live-run: ${{ inputs.live-run }}
      version: ${{ needs.tag.outputs.version }}
      repo: ${{ github.repository }}
      branch: ${{ needs.tag.outputs.branch }}
    secrets: inherit

  homebrew:
    name: Publish Homebrew formulae
    needs: [tag, build-standalone]
    uses: eclipse-zenoh/ci/.github/workflows/release-crates-homebrew.yml@main
    with:
      no-build: true
      repo: ${{ github.repository }}
      live-run: ${{ inputs.live-run }}
      version: ${{ needs.tag.outputs.version }}
      branch: ${{ needs.tag.outputs.branch }}
      artifact-patterns: |
        ^zenohd$
        ^libzenoh_plugin_rest\.dylib$
        ^libzenoh_plugin_storage_manager\.dylib$
      formulae: |
        zenoh
        zenohd
        zenoh-plugin-rest
        zenoh-plugin-storage-manager
    secrets: inherit

  eclipse:
    name: Publish artifacts to Eclipse downloads
    needs: [tag, build-standalone]
    uses: eclipse-zenoh/ci/.github/workflows/release-crates-eclipse.yml@main
    with:
      no-build: true
      live-run: ${{ inputs.live-run }}
      version: ${{ needs.tag.outputs.version }}
      repo: ${{ github.repository }}
      branch: ${{ needs.tag.outputs.branch }}
      artifact-patterns: |
        ^zenohd(\.exe)?$
        ^libzenoh_plugin_(rest|storage_manager)\.(dylib|so)$
        ^zenoh_plugin_(rest|storage_manager)\.dll$
      name: zenoh
    secrets: inherit

  github:
    name: Publish artifacts to GitHub Releases
    needs: [tag, build-standalone]
    uses: eclipse-zenoh/ci/.github/workflows/release-crates-github.yml@main
    with:
      no-build: true
      live-run: ${{ inputs.live-run }}
      version: ${{ needs.tag.outputs.version }}
      repo: ${{ github.repository }}
      branch: ${{ needs.tag.outputs.branch }}
      artifact-patterns: |
        ^zenohd(\.exe)?$
        ^libzenoh_plugin_(rest|storage_manager)\.(dylib|so)$
        ^zenoh_plugin_(rest|storage_manager)\.dll$
    secrets: inherit

  dockerhub:
    name: Publish container image to DockerHub
    needs: [tag, build-standalone]
    uses: eclipse-zenoh/ci/.github/workflows/release-crates-dockerhub.yml@main
    with:
      no-build: true
      live-run: ${{ inputs.live-run }}
      version: ${{ needs.tag.outputs.version }}
      repo: ${{ github.repository }}
      tags: "eclipse/zenoh:${{ needs.tag.outputs.version }}"
      binary: zenohd
      files: |
        zenohd
        libzenoh_plugin_rest.so
        libzenoh_plugin_storage_manager.so
      platforms: |
        linux/arm64
        linux/amd64
    secrets: inherit

  ghcr:
    name: Publish container image to GitHub Container Registry
    needs: [tag, build-standalone]
    uses: eclipse-zenoh/ci/.github/workflows/release-crates-ghcr.yml@main
    with:
      no-build: true
      live-run: ${{ inputs.live-run }}
      version: ${{ needs.tag.outputs.version }}
      repo: ${{ github.repository }}
      tags: "${{ github.repository }}:${{ needs.tag.outputs.version }}"
      binary: zenohd
      files: |
        zenohd
        libzenoh_plugin_rest.so
        libzenoh_plugin_storage_manager.so
      platforms: |
        linux/arm64
        linux/amd64
    secrets: inherit
